@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700|Roboto+Condensed:300,400,700&display=swap&subset=korean');

body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* BORDER-BOX */
body *, body *::before, body *::after {
    box-sizing: border-box;
}
/* MODULE */
/* TEXT HIDDEN */ 
.a11y-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* BUTTON TEXT HIDDEN */
.btn-text-hide {
    font-size: 1px;
    text-indent: -200px;
    overflow: hidden;
    /* display: inline-block;
    margin: 0;
    border: none;
    width: 100px;
    height: 0;
    padding-top: 100px;
    overflow: hidden; 
    vertical-align: middle;
    font-size: 1px; */
}
  
/* CLEAR FIX */
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
/* RESPONSIVE */
.responsive {
    max-width: 90%;
    height: 90%;
}
/* BASIC */
a {
    color: inherit;
    text-decoration: none;
}
/* ----- HEADER ----- */
.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 20.5px 26px;
    border-bottom: 1px solid #E0E0E0;
    background-color: rgba(255, 255, 255, .7);
    animation-name: ani-header;
    animation-duration: 700ms;
    /* animation-delay: 300ms; */
    animation-fill-mode: both;
}
@keyframes ani-header{
    0%{
        top:-1000px;
    }
    100%{
        top: 0;   
    }
}
.logo {
    position: relative;
    width: 210px;
    font-size: 1rem;
    animation-name: ani-logo;
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-fill-mode: both; 
}
@keyframes ani-logo{
    0% {
        left: -250px;
    }
    100% {
        left: 0px;
    }
  } 
.logo a {
    display: block;
    padding: 5px 0;
    text-indent: 1rem;
    overflow: hidden;
}
.logo img {
    position: absolute;
    top: 50%;
    left: 0;
    margin: -10px 0 0 0;
}
.main-menu__open-btn {
    position: absolute;
    /* overflow: hidden;     */
    top: 0;
    right: 0;
    bottom: 0;
    width: 67px;
    height: 100%;
    /* margin: -15px 0 0 0; */
    padding: 0;
    border: none;
    background-color: white;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    background-image: url(../img/menu-open-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    animation-duration: 400ms;
    animation-delay: 1000ms;
    animation-fill-mode: both;
    animation-name: ani-btn;
}
@keyframes  ani-btn{
    0%{
       right:-250px;

    }
    100%{
       right: 0;

    }
}
.main-menu__open-btn:hover {
    background-color: #e5e5e5;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
.main-menu__menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translate(100%);
    margin: 0;
    padding: 60px 0 0 0;
    background: rgba(11, 18, 40, 0.9);
}

.is-open .main-menu__menu-panel {
    transform: translate(0);
    /* transition-duration: 0.7s; */
}

.main-menu__menu-item {
    display: block;
    width: 100%;
    padding: 17px;
    border: 1px solid rgba(33, 55, 120, 0.5);
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    
}
.main-menu__menu-item:hover {
    background-color: #2E437C;
}
.main-menu__close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 67px;
    height: 67px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../img/menu-close-btn.png);
    background-position: center;
    background-repeat: no-repeat;
}
/* ----- MAIN ----- */
.main {
    padding: 90px 0;
}
.main__container {
    max-width: 840px;
    margin: 0 auto;
    padding: 0;
}
.product-list {
    width: 100%;
    padding: 15px;
}
.product-list li {
    float: left;
    position: relative;
    width: calc((100% - 10px)/2);
    margin: 0 10px 10px 0;
    background-color: #f5f5f5;
    text-align: center;
    animation-name: product-animation;
    animation-delay: 1500ms;
    animation-duration: 1000ms;
    animation-fill-mode: both;
}
@keyframes product-animation {
    0% {
        top: 50px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
.product-list li:nth-child(even) {
    margin-right: 0;
}
.product-list li a img {
    transform:scale(1);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.product-list li a:hover img {
    transform:scale(1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.product-item {
    display: block;
    width: 100%;
    height: 361px;
    /* padding: 15px 60px 72px 60px; */
}
.product-item h3 {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

/* ----- PRODUCT DETAIL ----- */
.product-item--on-click {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 361px;
    padding: 40px 20px;
    background-color: rgba(255,255,255,.6);
    text-align: left;
}

.product-item__description {
    display: block;
}
.product-item--on-click *::selection {
    background: navy;
    color: #fff;
}
.product-item--on-click *:-moz-selection {
    background: navy;
    color: #fff;
}
.product-item__description dd:nth-child(2) {
    padding: 0 0 15px 0;
    border-bottom: 2px solid #202023;
    font-size: 18px;
    color: #202022;
    line-height: 20px;
}
.product-item__en-name {
    display: block;
    font-size: 14px;
    color: #737373;
}
.product-item__description dd:nth-child(4) {
    margin: 14px 0 0 0;
    font-size: 16px;
    line-height: 23px;
}
.is-on .product-item--on-click {
    display: block;
    animation-name: is-on-ani;
    animation-duration: 1000ms;
}
@keyframes is-on-ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}
.product-item__close-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    background-image: url(../img/detail-close.png);
    background-position: center;
    background-repeat: no-repeat;
}
.product-item__close-btn:hover {
    background-color: #e5e5e5;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
.product-item__nutrition-info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 17px 40px;
    background-color: #f8f8f8;
    font-size: 0;
}
.product-item__nutrition-group {
    width: 50%;
    margin: 0;
    font-size: 13px;
    line-height: 19px;
}
.product-item__nutrition-group dt {
    width: 70px;
}
.product-item__nutrition-group:nth-child(odd) {
    border-right: 1px solid #999;
}
.product-item__nutrition-group dt {
}
.product-item__nutrition-group:nth-child(even) {
    padding: 0 0 0 25px;
}
.product-item__nutrition-info * {
    display: inline-block;
}
